<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1094063441007-alqcri0ok8a36g02687nqgmo40otf1es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094063441007-alqcri0ok8a36g02687nqgmo40otf1es</string>
	<key>API_KEY</key>
	<string>AIzaSyCR6t8CU7Nb6e0ULeNTx8OIq6ueqSpKusA</string>
	<key>GCM_SENDER_ID</key>
	<string>1094063441007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bright-avenue.Snap-</string>
	<key>PROJECT_ID</key>
	<string>snap-fab00</string>
	<key>STORAGE_BUCKET</key>
	<string>snap-fab00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094063441007:ios:f91786e9a1d90dcd</string>
	<key>DATABASE_URL</key>
	<string>https://snap-fab00.firebaseio.com</string>
</dict>
</plist>